.Blogs {
  text-align: left;
  padding-left: 5%;
  padding-top: 130%;
}
.BlogElement {
  padding-bottom: 20px;
}
#date {
  font-size: 15px;
}
#new {
  font-weight: bold;
  font-style: italic;
  padding-left: 5px;
}
#article {
  font-size: 15px;
}
