.TechBlogs {
  text-align: right;
  padding-right: 5%;
  padding-top: 60%;
}
.TechBlogElement {
  padding-bottom: 15px;
}
/* #date {
  font-size: 13px;
} */
#new {
  font-weight: bold;
  font-style: italic;
  padding-left: 5px;
}
/* #article {
  font-size: 15px;
} */
